/* dùng chung */
/* quy định cho tất cả thẻ có tên là thẻ a trên trang web */
/* a{
    color: red;
} */
/* refactor code */


/** Dùng chung */
/*! Xóa hết tất cả khoảng cách mặc định của browser */
/* selector "*" : tìm tất cả các thẻ HTML */
* {
    margin: 0;
    padding: 0;
}

/* thẻ root */
/* html{
   font-family: "Oswald", sans-serif;
} 

body {
   font-family: "Oswald", sans-serif;
} */
 
html, body{
   font-family: "Oswald", sans-serif;
} 



/** HEADER */
/* dùng riêng */
/* header ul a {
    color: purple;
} */

header {
    background-color: purple;
    /* padding thường thêm trên dưới để tạo khoảng cách từ viền đến nội dung của thẻ thành phần chính */
    padding: 20px 0;

    /* do thẻ cha của header là body nên mặc định các thẻ con đều đi theo body => không cần khai báo relative cho thẻ body */
    /* absolute làm mất kích thước thẻ => cần bổ sung kích thước */
    position: absolute;
    width: 100%;



}

header nav {
    /*! căn giữa nội dung thành phần chính của web => xử lý hiển thị cho màn hình lớn
    - nội dung con phải width < 100%
    - kết hợp margin: auto => tự động thêm khoảng cách trái phải đều nhau */
    width: 70%;
    margin: auto;

    /* Cần sắp xếp thẻ con nào thì tìm cha trực tiếp của thẻ đó và xét display flex 
    display flex: sắp xếp các thẻ con (items) lên chung 1 hàng*/
    display: flex;
    /* chia vùng trống giữa các con  */
    justify-content: space-between;
    /* căn nội dung chiều dọc của các con */
    align-items: center;

}

/* thẻ i và span đều cần tăng kích thước chữ => cần thêm font-size cho thẻ
=> nếu thêm cho từng thẻ thì dài code 
=> nên chỉ cần thêm font-size cho thẻ cha , thì con kế thừa xuống (nếu thẻ con chưa có font-size thì lấy của cha) */
.logo {
    font-size: 32px;
}

/* Cách 1: thay đổi tính chất thẻ */
.logo p {
    display: inline;
}


/*TODO B1: xóa dấu tròn đen
B2: xóa dấu gạch chân
B3: đổi màu chữ
B4: sắp xếp menu (ul, li) theo chiều ngang thành 1 hàng
B5: thêm khoảng cách giữa các mục của menu
B6: thêm hiệu ứng rê chuột vào menu */


header ul {
    /* B1: xóa dấu tròn đen */
    list-style: none;
}

/*TODO trạng thái trước khi rê chuột vào menu 
ban đầu*/

/* 1 + 1 = 2 */
header a {
    /* B2: xóa dấu gạch chân */
    text-decoration: none;
    /* B3: đổi màu chữ */
    color: white;
    /* color: thuộc css cần làm chậm 
    thời gian (s, ms : 1s => 1000ms): tg ngắn => thay đổi nhanh (vận tốc nhanh)
    tg dài => thay đổi chậm (vận tốc chậm)
    nên để dưới 1s*/
    /* transition: color 0.5s; */
    transition: all 0.5s;
}

/*TODO trạng thái sau khi rê chuột vào menu 
sau khi rê chuôt
selector "hover" : gắn hover tạo hiệu ứng rê chuột vào thẻ con cần nhận chuột
*/
/* 1 + 1 +1 + 0.5 = 3.5 */
header li a:hover {
    /* thẻ cần thay đổi thì ghi giá trị cần đổi vào thẻ đó */
    color: #e62b4a;


}

/* 1 + 1+ 10 + 1 = 13 */
header li.active a {
    color: #e62b4a;
}


header ul li {
    /* B4: sắp xếp menu (ul, li) theo chiều ngang thành 1 hàng */
    /* loại thẻ block , loại inline */
    /* li là loại block , chiếm hết 100% width */
    display: inline;
    /* B5: thêm khoảng cách giữa các mục của menu */

    /* margin-right:5px ;
    margin-left: 5px; */
    margin: 0px 5px;

    /* padding: 15px; */
    /* border: 3px solid red; */
}


/** CAROUSEL */
.carousel {

    background-image: url('../img/home_slider.jpg');
    /* repeat khi hình nhỏ hơn vùng hiển thị */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;

    height: 700px;


    /* Nếu flex có 1 con trực tiếp
kết hợp justify-content, align-item center
=> căn giữa theo 2 chiều */
    display: flex;
    justify-content: center;
    align-items: center;


}

.carousel_content {
    /* xét chung cho các thẻ con chữ sử dụng */
    color: white;
    text-align: center;
}

.carousel_content p {
    font-size: 25px;
}

.carousel_content h1 {
    font-size: 75px;
}

.carousel_content a {
    color: white;
    font-size: 50px;
}

/* Trạng thái trước khi rê chuột vào button 
ban đầu*/
/* 10 + 1 = 11 */
.carousel_content button {
    font-family: "Oswald", sans-serif;
    color: white;
    /* sử dụng pd để tạo kích thước cho button */
    padding: 15px 30px;
    background-color: #e62b4a;
    border: 1px solid #e62b4a;
    border-radius: 10px;
    font-size: 20px;

    transition: all 0.5s;
}

/* Trạng thái sau khi rê chuột vào button
sau khi rê chuột*/
/* 10 + 1 + 0.5 = 11.5 */
.carousel_content button:hover {
    background-color: #af2239;
}


/** SHOWCASE */
.showcase {
    padding: 100px 0;
}

.showcase_container {
    width: 70%;
    margin: auto;
}

.showcase_content {
    display: grid;
    /* 100% / 3 => 33,33% , tạo 3 cột kích thước bằng nhau, calc(100% /3)*/
    /* grid-template-columns: 33.33% 33.33% 33.33%;  */
    /* grid-template-columns: repeat(3,33.33%); */
    /* fr: fraction (phân số) : 1/3(số cột), 1/4(số cột)  */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.showcase_items {
    height: 408px;

    position: relative;
}

.showcase_overlay {
    position: absolute;
    /* xét vị trí của con so với thẻ cha gần nhất */
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /* rgba => mã màu trong suốt  */
    background-color: rgba(230, 43, 74, 0.5);

    /* độ trong suốt của thẻ và nội dung bên trong thẻ , giá trị 0 -> 1*/
    /* Trước khi hover */
    opacity:0;
    transition: all 0.5s;

    /* che đi phần tràn khỏi thẻ cha  */
    overflow: hidden;

}

.showcase_items:hover .showcase_overlay {
    /* sau khi hover */
    opacity:1;
}




.showcase_icon {
    position: absolute;
    top: 20px;
    right: 20px;

    /* trạng thái trước hover */
    transform: translateY(50px);
    transition: all 0.5s;
}

/* cha nhận chuột thẻ con thay đổi */
.showcase_items:hover .showcase_icon {
    /* trạng thái sau hover */
    transform: translateY(0);
}


.showcase_text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    /* trước hover */

    /*TODO lấy kích thước chính thẻ con */
    /* transform: translateY(100%); */

    transform: translateY(50px);
    transition: all 0.5s;

}

/* sau khi hover */
.showcase_items:hover .showcase_text {
    transform: translateY(0);
}








/* kích thước thẻ = width/height + padding + border + content */
.showcase_icon a {
    /* padding: 10px; */
    display: block;
    width: 50px;
    height: 50px;
    /* Căn giữa icon (i) 
    ngang text-algin
    dọc line-height giá trị bằng hoặc gần bằng chiều cao => căn giữa theo chiều dọc*/
    text-align: center;
    line-height: 50px;


    background-color: white;
    /* bo gốc của thẻ  */
    /* border-radius: 50%; */




}




.showcase_items img {
    /* %: luôn đi theo kích thước của thẻ cha gần nhất */
    width: 100%;
    height: 100%;

    /* CSS3 */
    object-fit: cover;
    filter: grayscale(100%) contrast(50%);
}


/** NUMBER */
.number {
    background-color: black;
    text-align: center;
    padding: 100px 0;
}

.number_content {
    width: 70%;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.number_items {
    /* width: 25%; */
}

/* .number_items p {
    font-size: 20px;
    color: #888888;
} */

/* Cách 1: thêm class riêng cho thẻ p cần kích thước khác */
/* .number_items .number_count {
    font-size: 60px;
    color: white;
} */

/* C2: dùng selector thứ tự thẻ */
.number_items p:first-child {
    font-size: 60px;
    color: white;
}

/* .number_items p:nth-child(1)  */

.number_items p:last-child {
    font-size: 20px;
    color: #888888;
}

/* .number_items p:nth-child(2) */

















/* Ví dụ về position */
.relative {
    position: relative;
    height: 500px;
    background-color: red;
}

.absolute {
    position: absolute;
    /* top, right, bottom, left: đi chung với position để xét vị trí của con absolute so với cha relative
    Nếu không xét thẻ cha relative thì đi theo thẻ body
    nên xét vị trí ở phía gần*/
}